@page "/userlist/updateuser/{Id:int}"

<h3>User List</h3>

@inject NavigationManager NavigationManager
@inject HttpClient Http
@using System.ComponentModel
@using AntDesign
@using AntDesign.TableModels

<div class="user-update">
    <div class="input">
        ID:
        <Input Placeholder="Id" @bind-Value="@Id" Disabled />
        <br />
        <br />
        Username:
        <Input Placeholder="Username" @bind-Value="@Username" />
        <br />
        <br />
        Password:
        <InputPassword Placeholder="Password" @bind-Value="@Password" />
        <br />
        <br />
        Address:
        <Input Placeholder="Address" @bind-Value="@Address" />
        <br />
        <br />
        <Button Block type="primary" OnClick="@(e => UpdateUser(Id, Username, Password, Address))">修改用户</Button>
        <br />
        <br />
        <Button Block OnClick="NavigateToUserList">返回列表</Button>

    </div>

</div>

<style>
    .user-update {
        border: 1px solid #ccc;
        width: 400px;
        margin: 0 auto;
        margin-top: 200px;
    }

    @* input区域要与边框保持一定距离 *@
    .user-update .input {
        padding: 20px;
    }
</style>

@code {
    [Parameter]
    public int Id { get; set; }
    public string? Username { get; set; }
    public string? Password { get; set; }
    public string? Address { get; set; }
    public class User
    {
        public int Id { get; set; }
        public string? Username { get; set; }
        public string? Password { get; set; }
        public string? Address { get; set; }
    }
    private async void UpdateUser(int id, string? username, string? password, string? address)
    {
        await Http.PutAsJsonAsync($"http://localhost:5286/LoginApi/web4user/{id}", new User
            {
                Username = username,
                Password = password,
                Address = address
            });
    }

    private void NavigateToUserList()
    {
        NavigationManager.NavigateTo("/userlist");
    }
}
